
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.row {
 display:flex;
 flex-flow: row;
justify-content: center;
padding: 3%;
}


.footer-container{
  background-color: #D3EEE1;
height: 10%;
width: auto;
}

.header-img {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}



.menu-box {
display: flex;
flex-flow: row;
justify-content: space-around;

}

a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: black;
  -webkit-transition: color 1s;
  transition: color .3s;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500 bold;
  

}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Raleway', sans-serif;

}

.black-box {
  background-color: solid black;

}

.main-box {
  display:flex;
  flex-flow: column;
  justify-content: space-between;
  height: 90%;
  margin-top: 5%;

}



a:hover {
  color: #D3EEE1;

}


.black-box{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.container-fluid {
  display: flex;
  height: 99%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-msg {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: space-around;
} 

.sect-title {
  color: #D3EEE1;
}

.circle-one {
  display: flex;
  height: 10rem;
  width: 10rem;
  background-color: rgba(0,0,250, .1);
  border-radius: 50%;
  position: relative;
  left: 1%
}

.circle-two {
  display: flex;
  height: 10rem;
  width: 10rem;
  background-color: rgba(0,0,250, .1);
  border-radius: 50%;

}

.circle-three {
  display: flex;
  height: 10rem;
  width: 10rem;
  background-color: rgba(0,0,250, .1);
  border-radius: 50%;
  position: relative;
  right: 1%;

}