
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.row {
 display:flex;
 flex-flow: row;
justify-content: center;
padding: 2%;
}


.footer-container{
  background-color: #D3EEE1;
height: 10%;
width: auto;
padding-top: 3rem;
margin-top: 3rem;
}

.header-img {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}



.menu-box {
display: flex;
flex-flow: row;
justify-content: space-around;

}

a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: black;
  -webkit-transition: color 1s;
  transition: color .3s;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500 bold;
  

}

h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  margin: 0px;
}

.black-box {
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}

.main-box {
  display:flex;
  flex-flow: column;
  justify-content: space-between;
  height: 90%;
  margin-top: 5%;

}



a:hover {
  color: #D3EEE1;

}



.proj-img {
margin: 1%;
max-width: 100%;
height: auto;
border: 0.25rem solid rgba(211,225,223, .3);
}

.container-fluid {
  display: flex;
  height: 99%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-msg {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
} 

.home-msg-text {
  margin: 4rem;
}

.sect-title {
  color: rgba(211, 16, 30, 0.7)
}

.circle-one {
  display: flex;
  height: 12rem;
  width: 12rem;
  background-color: rgba(211,225,223, .3);
  border-radius: 50%;
  position: relative;
  left: 1%;
  z-index: -3;
}

.circle-two {
  display: flex;
  height: 12rem;
  width: 12rem;
  background-color: rgba(211,238,225, .3);
  border-radius: 50%;
  z-index: -2;

}

.circle-three {
  display: flex;
  height: 12rem;
  width: 12rem;
  background-color: rgba(211, 16, 30, 0.3);
  border-radius: 50%;
  position: relative;
  right: 1%;
  z-index: -1;

}

.name-overlay{
  display: flex;
  align-self: center;
  position: absolute;
  z-index: 1;
  display: block;
}

.title-text {
  font-size: 500%;
  padding: 0px;
  margin: 0px;
  z-index: 2;
}

.under-text {
  font-size: 180%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  z-index: 3;
}


@media only screen and (max-width: 700px) {


  .circle-one {
    display: flex;
    height: 10rem;
    width: 10rem;
    background-color: rgba(211,225,223, .3);
    border-radius: 50%;
    position: relative;
    left: 1%;
    z-index: -3;
  }
  
  .circle-two {
    display: flex;
    height: 10rem;
    width: 10rem;
    background-color: rgba(211,238,225, .3);
    border-radius: 50%;
    z-index: -2;
  
  }
  
  .circle-three {
    display: flex;
    height: 10rem;
    width: 10rem;
    background-color: rgba(211, 16, 30, 0.3);
    border-radius: 50%;
    position: relative;
    right: 1%;
    z-index: -1;
  
  }
  
  .name-overlay{
    display: flex;
    align-self: center;
    position: absolute;
    z-index: 1;
    display: block;
  }
  
  .title-text {
    font-size: 400%;
    padding: 0px;
    margin: 0px;
    z-index: 2;
  }
  
  .under-text {
    font-size: 140%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    z-index: 3;
  }

  
  .home-msg {
    margin-bottom: 4rem;
    padding: 4rem;
  }


}

@media only screen and (max-width: 550px) {

  .circle-one {
    display: flex;
    height: 8rem;
    width: 8rem;
    background-color: rgba(211,225,223, .3);
    border-radius: 50%;
    position: relative;
    left: 1%;
    z-index: -3;
  }
  
  .circle-two {
    display: flex;
    height: 8rem;
    width: 8rem;
    background-color: rgba(211,238,225, .3);
    border-radius: 50%;
    z-index: -2;
  
  }
  
  .circle-three {
    display: flex;
    height: 8rem;
    width: 8rem;
    background-color: rgba(211, 16, 30, 0.3);
    border-radius: 50%;
    position: relative;
    right: 1%;
    z-index: -1;
  
  }
  
  .name-overlay{
    display: flex;
    align-self: center;
    position: absolute;
    z-index: 1;
    display: block;
  }
  
  .title-text {
    font-size: 300%;
    padding: 0px;
    margin: 0px;
    z-index: 2;
  }
  
  .under-text {
    font-size: 150%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    z-index: 3;
  }

  .home-msg {
    margin-bottom: 4rem;
    padding: 4rem;
  }

  h1, h2, h3, a, p {
    font-size: 130%;
  }

  .black-box {
    padding-bottom: 3rem;
  }


}

@media only screen and (max-width: 410px) {

  .circle-one {
    display: flex;
    height: 7rem;
    width: 7rem;
    background-color: rgba(211,225,223, .3);
    border-radius: 50%;
    position: relative;
    left: 1%;
    z-index: -3;
  }
  
  .circle-two {
    display: flex;
    height: 7rem;
    width: 7rem;
    background-color: rgba(211,238,225, .3);
    border-radius: 50%;
    z-index: -2;
  
  }
  
  .circle-three {
    display: flex;
    height: 7rem;
    width: 7rem;
    background-color: rgba(211, 16, 30, 0.3);
    border-radius: 50%;
    position: relative;
    right: 1%;
    z-index: -1;
  
  }
  
  .name-overlay{
    display: flex;
    align-self: center;
    position: absolute;
    z-index: 1;
    display: block;
  }
  
  .title-text {
    font-size: 200%;
    padding: 0px;
    margin: 0px;
    z-index: 2;
  }
  
  .under-text {
    font-size: 130%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    z-index: 3;
  }



    h1, h2, h3, a, p {
      font-size: 120%;
    }

    .home-msg {
      margin-bottom: 4rem;
      padding: 4rem;
    }
    .home-msg-text {
      margin: 1rem;
    }

    .black-box {
      padding-bottom: 4rem;
    }

}