
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.footer-bar {
  display: flex;
  background-color: #D3EEE1;
  width: 50%;
  height: 7px;
 justify-content: center;
 justify-self: flex-end;
}

.footer-container{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.header-img {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header-box {
  display: flex;
  justify-content: center;

}

.menu-box {
  display:flex;
  flex-flow: row;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500 bold;

}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Raleway', sans-serif;

}

.black-box {
  background-color: solid black;
}

.main-box {
  display:flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}